{% load widget_tweaks %}
{% include "field.html" with field=form.estado label='UF' tm_label=2 tm_field=3 %}
{% include "field.html" with field=form.cidade label='Cidade' tm_label=2 tm_field=3 %}
{% include "field.html" with field=form.bairro label='Bairro' tm_label=2 tm_field=3 %}
{% include "field.html" with field=form.rua label='Rua' tm_label=2 tm_field=3 %}
{% include "field.html" with field=form.numero label='Numero' tm_label=2 tm_field=3 %}
{% include "field.html" with field=form.cep label='CEP' tm_label=2 tm_field=3 %}
{% include "field.html" with field=form.referencia label='Referência' tm_label=2 tm_field=3 %}