{% load widget_tweaks %}

{% if field.errors or msg_erro %}
<div class="form-group has-error">
{% else %}
<div class="form-group">
{% endif %}
	{% if label != '' %}
		<label class="col-sm-4 col-md-{{ tm_label }} control-label" for="nome">{{ label }}</label>
	{% endif %}
	<div class="col-sm-4 col-md-{{ tm_field }}">
		
		{{ field | add_class:"form-control"}}
		<span class="help-block">
			{% if field.errors %}
				{{ field.errors.as_text }}
			{% else %}
				{%  if msg_erro %}
					{{ msg }}
				{% endif %}
			{% endif %}
		</span>
	</div>
</div>
