{% extends "base.html" %}

{% block menu %}
    {% if user %}
        {% for group in user.groups.all %}
            {% if group.name == 'Administrador' %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Administração
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/admin/consulta/usuarios/" class="addlink">Usuários</a>
                        </li>
                        <li>
                            <a href="/admin/add/usuario/" class="addlink">Adicionar usuário</a>
                        </li>
                        <li>
                            <a href="/produto/salvar/" class="addlink">Cadastro de produto</a>
                        </li>
                        <li>
                            <a href="/produto/consultar/" class="addlink">Consultar produtos</a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            {% if group.name == 'Vendedor' %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Orçamento
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/orcamento/salvar/" class="addlink">Criar</a>
                        </li>
                        <li>
                            <a href="/orcamento/consulta/" class="addlink">Consultar</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Cliente
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/cliente/salvar/" class="addlink">Cadastrar</a>
                        </li>
                        <li>
                            <a href="/cliente/consulta/" class="addlink">Consultar</a>
                        </li>
                    </ul>
                </li>
            {% endif %}

        {% endfor %}
    {% endif %} 
{% endblock %}

{% block menuuser %}
    {% include "login_logout.html" %}
{% endblock %}

{% block content %}

{% endblock %}

