{% extends "base.html" %}

{% block menu %}
{% endblock %}

{% block menuuser %}
{% endblock %}

{% block content %}
	<form method="post" class="form-horizontal" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
		{% if form.errors %}
            <div class="form-group">
                <label class="col-md-4 control-label" for="nome">Usuário e senha inválidos.</label>
            </div>
		{% endif %}
		{% include "field.html" with field=form.username label='Usuário' tm_label=2 tm_field=3 %}
		{% include "field.html" with field=form.password label='Senha' tm_label=2 tm_field=3 %}
		<div class="form-group">
			<div class="col-md-3 col-sm-4 col-md-offset-2 col-xs-offset-4">
				<input type="submit" class="btn btn-default pull-right" value="login" />
			</div>
		</div>
		{% if url_next %}
			<input type="hidden" name="next" value="{% url url_next %}" />
		{% else %}
			<input type="hidden" name="next" value="{% url 'app_orcamento.views.controle.index' %}" />
		{% endif %}
	</form>
{% endblock %}
