<div class="list-group">
    {% for produto in produtos %}
        <div class="list-group-item">
            <h4 class="list-group-item-heading">{{ produto.id }} - {{ produto.nome }}, <b>{{ produto.valor }}</b>
                <a href="#" onclick="select_produto({{ produto.id }},'{{ produto.nome }}','{{ produto.valor }}');">
                    <span class="glyphicon glyphicon-check pull-right" style="margin-left:10px;"></span>
                </a>
            </h4>
        </div>
    {% endfor %}
</div>

<ul class="pager">
    <li class="previous">
    {% if produtos.has_previous %}
        {% if form.valor.value %}
            <a href="#" onclick="consulta_produto('?page={{ produtos.previous_page_number }}&valor={{form.valor.value}}');"> Anterior </a>
        {% else %}
            <a href="#" onclick="consulta_produto('?page={{ produtos.previous_page_number }}');"> Anterior </a>
        {% endif %}
    {% endif %}
    </li>

    <li class="next">
    {% if produtos.has_next %}
        {% if form.valor.value %}
            <a href="#" onclick="consulta_produto('?page={{ produtos.next_page_number  }}&valor={{form.valor.value}}');"> Próxima </a>
        {% else %}
            <a href="#" onclick="consulta_produto('?page={{ produtos.next_page_number  }}');"> Próxima </a>
       {% endif %}
    {% endif %}
    </li>
</ul>