.btn{
  padding-top: 4px;
  padding-bottom: 4px;
}

.list-group{
  margin-top: 5px;
}

.help-block{
  margin-top: 1px;
  margin-bottom: 0px;
  font-size: 13px;
  line-height: 22px;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 0px;
}

.list-group-item{
  padding: 3px;
  margin-bottom: 7px;

}

.form-group{
  margin-bottom: 5px;
}

.field-danger, .msg-error{
	float:left;
}

body{
	line-height: 27px;
    background-color: #F5F5F5;
    margin-left: 2px;
    margin-right: 2px;
}

label{
  font-weight: normal;
}
.alert{
	margin-bottom: 0px;
  padding: 2px;
}

.form-control{
  height: 30px;
}

p.help{
	color:#3a87ad;
}

.tooltip-inner {
  margin-left: 27px;
}

.tooltip-arrow{
  margin-left: 25px;
}

header.row {
    margin-left: 5px;
    margin-right: 5px;
}

footer div.navbar-header{
    margin:15px;
}